.h1 {
  font-size: 32px;
  line-height: 38px;
}
.h2 {
  font-size: 28px;
  line-height: 32px;
}

.h3 {
  font-size: 24px;
  line-height: 28px;
}

.h4 {
  font-size: 20px;
  line-height: 24px;
}

.h5 {
  font-size: 16px;
  line-height: 20px;
}
.h6 {
  font-size: 12px;
  line-height: 16px;

  text-transform: uppercase;
}

/* Headings */
.page1__headings {
  font-family: var(--headings-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
/* END Headings */

.text--center {
  text-align: center;
}
