.page__header--p1 {
  padding-top: 22px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-p1__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar-p1__item {
  width: 128px;
  height: 40px;
  text-align: center;
}
