.radio_button {
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  gap: 8px;
}
.radio_button > input[type="radio"]:checked + span {
  font-weight: 500;
}

.radio_button:active {
  animation-name: radio_button-animation;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

@keyframes radio_button-animation {
  50% {
    transform: translateY(-1px) translateX(0.5px);
  }
}
