.tabgroup_link {
  font-family: var(--headings-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: var(--gray-color);
  border: 1px solid var(--background-color--primary);
  background-color: var(--light-color);
  padding: 8px 16px;

  border-top: 1px solid var(--gray-color);
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
  border-radius: 4px 4px 0px 0px;
}

.tabgroup--active {
  border-top: 1px solid var(--blue-color);
  border-left: 1px solid var(--blue-color);
  border-right: 1px solid var(--blue-color);
  background-color: var(--white-color);
}
